@CHARSET "UTF-8";

*{margin:0;padding:0;}

#header{height:50px;width:100%;background:#fff5ee;margin-top:0px;margin-left:-10px;padding-left:10px;}
#header .location{
	font-family:Georgia;
	font-size:12px;
	color:red;
	line-height:50px;
	margin-left:100px;
	text-decoration:none;

}
#header .information{
	float:right;
	margin-right:100px;
	color:black;
}

#all1{margin:20px 180px 0 180px;}
#mainbody .car{display:inline-block;font-size:250%;margin-top:-100px}
#mainbody .img1{width:100px;height:100px;padding-left:20px;padding-top:20px;}
#mainbody #list{margin:0 auto;text-align:center;border-spacing:10px; }
#mainbody .box{width:300px;height:35px;}
#mainbody #pay{
	width:400px;
	height:150px;
	border:2px solid #c63300;
	padding-top:10px;
	padding-left:10px;
	margin-bottom:20px;
	float:right; 
}
#mainbody .submitpay{
	float:right;
	margin-right:20px;
	width:160px;
	height:40px;
	background:#c00;
	color:white;
	font-size:18px;
}

