@CHARSET "UTF-8";

*{margin:0;padding:0;}

#mainbody  .img1{
	width:500px;
	height:500px;
	padding-left:100px;
	padding-top:80px;
}

#mainbody .table2{padding-left:30px;}
#mainbody .table2 .denglu{color:blue;font-size:20px;}
#mainbody .table2 .message input{height:30px;width:300px;color:gray;font-size:12px;padding-left:5px;}
#mainbody .table2 .message2 span{font-size:12px;color:gray;padding-left:4px;}
#mainbody .table2 .message3 input{margin-left:45px;background:#0066ff;color:white;width:200px;height:40px;font-size:22px;cursor:pointer;}
#mainbody .table2 .message4 #register{text-decoration:none;font-size:12px;cursor:pointer;color:gray;float:right;margin-top:10px;}